#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0.8em 2em;
  border-radius: 1rem;
  border: dashed 2px white;

}
.card > h3{
  font-size: 2rem;
  margin: 0;
}
.card > span {
  position: relative;
  top: -0.2rem;
  left: 1.2rem;
}

.read-the-docs {
  color: #888;
}


.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  flex: 1 0 500px;
  align-items: stretch;
}